body {
    padding: 0 20px;
}
header {
    display: flex;
    justify-content: flex-end;
    /*margin: 0 30px;*/
}
a {
    display: inline;
    text-decoration: none;
    font-weight: lighter;
    font-size: 15px;
    padding: 8px;
}
main {
    margin: 0 auto;
}
.google-icon {
    display: flex;
    padding: 50px;
}
div.google-icon img {
    margin: 16px auto -16px;
}
div.text{
    text-align: center;
    color: slategrey;
}
div.text>h4:hover {
    cursor: pointer;
}
.search-bar::before {
    content: url("images/search.svg");
    padding: 10px;
}
.search-bar::after {
    content: url("images/mic.PNG");
    position:  relative;
    left: 532px;
    top: 5px;
}
div.languages {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 35px;
}
.links {
    margin-left: -20px;
}
.search-bar {
    margin: 0 auto 40px;
    height: 40px;
    width: 600px;
    border: 1px solid #80808045;
    border-radius: 50px;
    size: 50px;
}
.elevate {
    position: absolute;
    right: 120px;
    top: 28px;
}
li {
    list-style: none;
    display: inline-flex;
    padding: 8px;
}

h4{
    font-weight: lighter;
    display: inline;
    text-align: center;
    padding: 20px;
}
h3 {
    font-weight: lighter;
    font-size: 16px;
    padding: 10px;
}
div.display {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}
.two {
    justify-content: flex-end;
}
h3.remove {
    display: none;
}
.line {
    display: none;
}
div.one>h3, div.two>h3 {
    display: inline;
}
footer {
    color: slategrey;
    display: block;
    padding-top: 79px;
}
@media only screen and (max-width: 425px){
    body{
        display: grid;
        padding: 0;
        margin: 0 auto;
    }
    .nigeria h3 {
        margin: 0;
        padding: 5px;
    }
    .remove {
        display: none;
    }
    .search-bar{
        width: 390px;
        margin: 0 auto;
    }
    .text{
        display: none;
    }
    .google-icon {
        margin: 0 auto;
    }
    .search-bar::before{
    content: url(images/search2.svg);
    position: relative;
    left: 355px;
    top: 12px;
    padding-top: 14px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #0000ffe8;
    }
    .search-bar::after{
        display:none;
    }
    .google {
        padding: 10px;
    }
    div.languages {
        display: block;
    }
    header {
        justify-content:space-between; 
    }
    li{
        padding: 0 20px;
    }
    .elevate{
        position: absolute;
        right: 50px;
        top: 20px
    }
    footer {
        background-color: #d3d3d3b0;
        padding-top: 10px;
        padding-bottom: 0;
        margin-top: 33px;
    }
    .nigeria {
        height: 20px;
    }
    .line{
        display: block;
    }
    .one {
        justify-content: space-evenly;
    }
} 